body {
    text-align: center;
    
}

h1 {
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 300;
    color: white;
}

#intro{
    background-color: rgb(46, 58, 126);
    color: white;
}
 
#origami2{
    background-color: rgb(46, 58, 126);
    color: white;
}
#origami1{
    background-color: rgb(46, 58, 126);
    color: white;
}

.line {
    height: 6px;
    background-color: (46, 58, 126);
    width: 70px;
    margin: 8px auto;
}